<div class="mt-5">
  <% if (products.length > 0) { %>
  <form class="mb-5" action="/admin/create" method="get">
    <button class="btn btn-primary">Create</button>
  </form>
  <% products.forEach(product => { %>
  <div class="card" style="width: 18rem">
    <img src="<%= product.imgUrl %>" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title"><%= product.title %></h5>
      <p class="card-text">$<%= product.price %></p>
      <p class="card-text"><%= product.description %></p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <% }) %> <% } else { %>
  <h1 class="text-center">No Product (admin)</h1>
  <form class="mt-5 text-center" action="/admin/create" method="get">
    <button class="btn btn-primary">Create</button>
  </form>
  <% } %>
</div>
